<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
        aliquid, dolorem facere illum dignissimos repudiandae pariatur
        praesentium maiores optio assumenda voluptates reiciendis consequuntur,
        quod unde nihil voluptatibus cumque eos quae? Vitae saepe eum
        voluptatibus, quo sequi in, neque eaque culpa quaerat sapiente quod aut
        officiis minus, odit amet similique sint reiciendis? Impedit commodi
        omnis earum id aliquam esse, voluptatum labore pariatur atque
        perspiciatis deleniti mollitia. Ducimus labore natus asperiores nesciunt
        ratione earum vero corporis libero possimus. Quam, dolore ea delectus,
        voluptas facilis maiores tempora nemo ducimus, mollitia cupiditate
        dolores quae odio? Voluptatum esse ipsum voluptatem alias enim autem
        minima deleniti!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
